* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.white {
  background: white;
}

.black {
  background: #3f3f3f;
}

.hero {
  min-height: 100vh;
}

.img {
  padding: 2rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tutorials {
  display: inline-block;
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(rgb(89, 230, 255), limegreen);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}
.home {
  text-align: left;
  color: purple;
  font-size: 50px;
}

.selection {
  text-align: center;
}

.selection a h2 {
  margin: 5rem;
}

.TutorialTitles {
  text-align: center;
  color: red;
  font-size: 42px;
}
.js {
  text-align: center;
}

iframe {
  margin: 2rem 0rem;
}

.row {
  margin: 0;
}
